** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

s = "Hi there Vijay!"

into a list.

In [29]:
s = "Hi there Vijay!"
split1=[]
split1=s.split()

In [30]:
split1

['Hi', 'there', 'Vijay!']

** Given the variables:**

In [ ]:
planet = "Earth"
diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [35]:
output=("The diameter of {planet} is {diameter} kilometers.").format(planet = "Earth", diameter = 12742)

In [36]:
output

'The diameter of Earth is 12742 kilometers.'


** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#tuple is ordered,immutable and unchangeable whereas the List is easily mutuable,heterogeneous and unordered

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [14]:
def email(input):
  return input.split('@')[1]

In [15]:
email("user@domain.com")

'domain.com'


** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [16]:
def dog_true(input):
    return 'dog' in input.lower().split()

In [17]:
dog_true('Dog is mostly used for guarding')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [18]:
def count_dog(input):
    count1=0
    for i in input.lower().split():
        if i=='dog':
            count1+=1
    return count1

In [19]:
count_dog('dog is dog')

2

Problem

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [20]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [21]:
caught_speeding(90,True)

'Big Ticket'

In [22]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [23]:
employee=[2000,5000,6000,7000,8000]
total_salary=0
print(employee)
for i in employee:
    total_salary+=i
print('Total Salary Expenditure:',total_salary)

[2000, 5000, 6000, 7000, 8000]
Total Salary Expenditure: 28000

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [24]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
 
dict1 = {'Empid':1, 'Empname':'George', 'Basicpay':2000}
dict2 = {'DeptName':'Mechanical','DeptId':'200'}
 
print(Merge(dict1, dict2))
 
print(dict2)

None
{'DeptName': 'Mechanical', 'DeptId': '200', 'Empid': 1, 'Empname': 'George', 'Basicpay': 2000}