In [59]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [60]:
data=pd.read_csv("heart_disease_prediction.csv")

In [61]:
data.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [63]:
data.describe()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [64]:
data.isna().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [65]:
# data.skew()

In [66]:
# X=data.loc[:,data.columns!='Heart Disease']
# Y=data['Heart Disease']

In [67]:
# X

In [68]:
# Y

In [69]:
# from sklearn.preprocessing import LabelEncoder

In [70]:
# le=LabelEncoder()

In [71]:
# y=le.fit_transform(Y)

In [72]:
# y

In [73]:
# from sklearn.model_selection import train_test_split

In [74]:
# trainx,testx,trainy,testy=train_test_split(X,y,test_size=0.20)

In [75]:
# trainy

In [76]:
# from sklearn.naive_bayes import GaussianNB

In [77]:
# model=GaussianNB()

In [78]:
# model.fit(trainx.values,trainy)
# out=model.predict(testx)

In [79]:
# from sklearn.metrics import accuracy_score

In [80]:
# print(accuracy_score(out,testy)*100)

In [81]:
# from sklearn.linear_model import LogisticRegression
# import warnings
# warnings.filterwarnings('ignore')

In [82]:
# model2=LogisticRegression()

In [83]:
# model2.fit(trainx.values,trainy)
# out1=model2.predict(testx)

In [84]:
# print(accuracy_score(out1,testy)*100)

In [85]:
# from sklearn.svm import SVC

In [86]:
# model3=SVC()
# model3.fit(trainx.values,trainy)
# out2=model3.predict(testx)

In [87]:
# out2

In [88]:
# print(accuracy_score(out2,testy)*100)

In [89]:
# Input=[[70,1,4,130,322,0,2,109,0,2.4,2,3,3]]
# if(model.predict(Input)==1):
#     print("Heart Diseased")
# else:
#     print("Normal Patient")